# ===== Basic Auth =====
AuthType Basic
AuthName "Restricted"
AuthUserFile /opt/bitnami/apache/conf/.htpasswd
Require valid-user

# ACME 更新用は素通し
<FilesMatch "^\.well-known/acme-challenge/.*$">
  Require all granted
  Satisfy Any
</FilesMatch>
# ======================

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
